.nft__item
	position relative
	display flex
	justify-content center
	align-items flex-end
	height 260px
	min-width 225px
	max-width 225px
	border-radius $border-radius
	background linear-gradient(145.24deg, #30336A 10.46%, #20224A 32.84%, #161832 100%)
	box-shadow $box-shadow

	&-logo
		height 13px
		position absolute
		top 15px

	&-count
		position absolute
		top 14px
		left 14px
		display flex
		justify-content center
		align-items center
		color $color-highlight

		& svg
			margin-right 5px

		& path
			fill $color-highlight

	&-content
		display flex
		flex-direction column
		justify-content center
		align-items center
		width 100%
		padding 0 $padding-small
		margin-bottom -20px

		& .ui-button
			height 40px
			width 125px
			font-weight 900

	&-img
		pointer-events none
		user-select none
		width 160px
		position absolute
		top $padding

		& img
			max-height 100%
			max-width 100%

	&-name, &-description
		text-align center

	&-name
		font-size 20px
		font-weight 600
		margin-bottom 4px
		color $color-text

	&-description
		font-size 14px
		color $color-text-light
		margin-bottom 14px
		height 40px
