@media screen and (max-width: 1360px)
	.nft-detail
		max-width 900px
		margin-left auto
		margin-right auto

		&__container
			flex-direction column
			align-items center

		&__data
			align-items center
