.ui-delta
	display flex
	justify-content flex-start
	align-items center
	font-size 12px
	color $color-highlight

	& i
		margin-right 7px

	& path
		fill $color-highlight

	&._negative
		color $color-error

		& svg
			transform rotate(180deg)

		& path
			fill $color-error
