// Fonts mixin
font-url(filename)
	return "~assets/fonts/" + filename

webfont(family, filename, weight = 400)
	@font-face
		font-family: family
		src: url(font-url(filename + ".eot"))
		src: url(font-url(filename + ".eot?#iefix")) format("embedded-opentype"),
				url(font-url(filename + ".woff")) format("woff"),
				url(font-url(filename + ".ttf")) format("truetype")
		font-weight: weight
		font-style: normal

// Чтобы добавить шрифт, нужно использовать миксин:
// webfont("Имя шрифта для css", "Путь к файлу шрифта, относительно assets/fonts/", жирность шрифта в числовом значении)

// SF Pro Display
webfont("SF Pro Display", "sf-pro-display/sf-pro-display-regular", 400)
webfont("SF Pro Display", "sf-pro-display/sf-pro-display-medium", 600)
webfont("SF Pro Display", "sf-pro-display/sf-pro-display-semibold", 900)

// Helvetica
webfont("Helvetica", "helvetica/helvetica-bold", 900)

// Georgia
webfont("Georgia", "georgia/georgia-regular", 600)
