loading(colorStart = #2f3365, colorMiddle = #222549, colorEnd = #2f3365)
	pointer-events none
	background linear-gradient(90deg, colorStart 25%, colorMiddle 37%, colorEnd 64%)
	background-size 400% 100%
	animation ant-skeleton-loading 1.4s ease infinite
	color transparent
	border-radius $border-radius-small
	user-select none
