.error
	min-height 600px
	height 100%
	width 100%
	flex-center()

	&__container
		flex-center()
		flex-direction column

	&__description, &__title
		text-align center

	&__description
		color $color-text-light
		font-size 18px
		margin-bottom 10px

		&._short
			width 380px
			margin-top 20px
			margin-bottom -20px

	&__title
		color $color-text
		font-size 60px

	&__button
		display flex
		justify-content center
		align-items center
		margin-top $padding-small

		& .ui-button
			border-radius 80px
			font-size 14px
			font-weight 600

	&__socket
		margin-top $padding-small
		margin-right 48px

	&__fork
		margin-bottom $padding-small
		margin-left 36px

